.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 634px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/background_7.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu1002
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 91px;
}

#u1002
{
	z-index: 3;
	width: 603px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 26px 88px 5px 87px;
}

#u72-8
{
	z-index: 21;
	width: 602px;
}

#u73-9
{
	z-index: 29;
	width: 487px;
	min-height: 90px;
	margin-left: 58px;
	margin-top: 88px;
	position: relative;
}

#u73-7
{
	color: #FFFFFF;
}

#u996-18
{
	z-index: 172;
	width: 603px;
	min-height: 155px;
	left: -1px;
	margin-top: 654px;
	position: relative;
}

#slideshowu74
{
	z-index: 38;
	width: 0.01px;
	height: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 88px;
}

#u114
{
	position: absolute;
	width: 603px;
	height: 567px;
	background-color: transparent;
}

#u114popup
{
	z-index: 39;
}

#u476
{
	z-index: 40;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u476_img
{
	padding: 23px 143px 24px;
}

#u810
{
	z-index: 42;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u810_img
{
	margin-top: -211px;
	margin-bottom: -211px;
}

#u944
{
	z-index: 44;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u944_img
{
	margin-top: -163px;
	margin-bottom: -163px;
}

#u494
{
	z-index: 46;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u494_img
{
	padding: 24px 145px;
}

#u828
{
	z-index: 48;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u828_img
{
	margin-top: -215px;
	margin-bottom: -215px;
}

#u837
{
	z-index: 50;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u837_img
{
	margin-left: -135px;
	margin-right: -135px;
}

#u422
{
	z-index: 52;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u422_img
{
	padding: 160px 176px;
}

#u846
{
	z-index: 54;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u846_img
{
	margin-top: -14px;
	margin-bottom: -14px;
}

#u413
{
	z-index: 56;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u413_img
{
	padding: 199px 40px;
}

#u855
{
	z-index: 58;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u855_img
{
	margin-left: -576px;
	margin-right: -576px;
}

#u458
{
	z-index: 60;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u458_img
{
	padding: 24px 141px;
}

#u864
{
	z-index: 62;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u864_img
{
	margin-top: -204px;
	margin-bottom: -204px;
}

#u404
{
	z-index: 64;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u404_img
{
	padding: 147px 40px 148px;
}

#u873
{
	z-index: 66;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u873_img
{
	margin-left: -246px;
	margin-right: -246px;
}

#u882
{
	z-index: 68;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u882_img
{
	margin-left: -127px;
	margin-right: -127px;
}

#u891
{
	z-index: 70;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u810_clip,#u944_clip,#u828_clip,#u837_clip,#u846_clip,#u855_clip,#u864_clip,#u873_clip,#u882_clip,#u891_clip
{
	overflow: hidden;
	width: 603px;
	height: 567px;
}

#u891_img
{
	margin-top: -191px;
	margin-bottom: -191px;
}

#u440
{
	z-index: 72;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u440_img
{
	padding: 24px 137px;
}

#u77
{
	position: absolute;
	width: 601px;
	top: 573px;
	left: 3px;
}

#u77popup
{
	z-index: 74;
}

#u482-5
{
	z-index: 75;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u816-5
{
	z-index: 80;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u950-5
{
	z-index: 85;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u500-5
{
	z-index: 90;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u834-5
{
	z-index: 95;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u843-5
{
	z-index: 100;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u428-5
{
	z-index: 105;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u852-5
{
	z-index: 110;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u419-5
{
	z-index: 115;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u861-5
{
	z-index: 120;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u464-5
{
	z-index: 125;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u870-5
{
	z-index: 130;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u410-5
{
	z-index: 135;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u879-5
{
	z-index: 140;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u888-5
{
	z-index: 145;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u897-5
{
	z-index: 150;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u446-5
{
	z-index: 155;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u76-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 608px;
	left: 266px;
}

#u76-4popup
{
	z-index: 160;
}

#u106-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 608px;
	left: 235px;
}

#u106-4popup
{
	z-index: 164;
}

#u81-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 607px;
	left: 335px;
}

#u81-4popup
{
	z-index: 168;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u997
{
	z-index: 190;
	width: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 328px;
}

#u1006
{
	z-index: 2;
	width: 961px;
	padding-bottom: 43px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 1166px;
	left: -2px;
}

#u71-17
{
	z-index: 4;
	width: 604px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 180px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1166px;
}

