#u1002
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u72-8
{
	line-height: 19px;
	position: relative;
}

#u72-3
{
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#u72-4
{
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1006
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u71-17
{
	line-height: 12px;
	position: relative;
}

