@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 615px;
	min-height: 972px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding: 30px 80px 22px 73px;
}

#u1070-10
{
	z-index: 19;
	width: 602px;
	min-height: 97px;
	margin-left: 10px;
}

#u1586
{
	z-index: 27;
	width: 75px;
}

#u1072-9
{
	z-index: 32;
	width: 487px;
	min-height: 88px;
	margin-left: 70px;
	margin-top: 14px;
	position: relative;
}

#u1072-7
{
	color: #FFFFFF;
}

#slideshowu1073
{
	z-index: 41;
	width: 0.01px;
	height: 648px;
	margin-left: 12px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u1130
{
	position: absolute;
	width: 603px;
	height: 567px;
	background-color: transparent;
}

#u1130popup
{
	z-index: 42;
}

#u1155
{
	z-index: 43;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1155_img
{
	padding: 23px 143px 24px;
}

#u1131
{
	z-index: 45;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1131_img
{
	margin-top: -211px;
	margin-bottom: -211px;
}

#u1137
{
	z-index: 47;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1137_img
{
	margin-top: -163px;
	margin-bottom: -163px;
}

#u1141
{
	z-index: 49;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1141_img
{
	padding: 24px 145px;
}

#u1151
{
	z-index: 51;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1151_img
{
	margin-top: -215px;
	margin-bottom: -215px;
}

#u1157
{
	z-index: 53;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1157_img
{
	margin-left: -135px;
	margin-right: -135px;
}

#u1133
{
	z-index: 55;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1133_img
{
	padding: 160px 176px;
}

#u1161
{
	z-index: 57;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1161_img
{
	margin-top: -14px;
	margin-bottom: -14px;
}

#u1145
{
	z-index: 59;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1145_img
{
	padding: 199px 40px;
}

#u1135
{
	z-index: 61;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1135_img
{
	margin-left: -576px;
	margin-right: -576px;
}

#u1153
{
	z-index: 63;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1153_img
{
	padding: 24px 141px;
}

#u1139
{
	z-index: 65;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1139_img
{
	margin-top: -204px;
	margin-bottom: -204px;
}

#u1143
{
	z-index: 67;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1143_img
{
	padding: 147px 40px 148px;
}

#u1163
{
	z-index: 69;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1163_img
{
	margin-left: -246px;
	margin-right: -246px;
}

#u1149
{
	z-index: 71;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1149_img
{
	margin-left: -127px;
	margin-right: -127px;
}

#u1147
{
	z-index: 73;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1131_clip,#u1137_clip,#u1151_clip,#u1157_clip,#u1161_clip,#u1135_clip,#u1139_clip,#u1163_clip,#u1149_clip,#u1147_clip
{
	overflow: hidden;
	width: 603px;
	height: 567px;
}

#u1147_img
{
	margin-top: -191px;
	margin-bottom: -191px;
}

#u1159
{
	z-index: 75;
	width: 603px;
	height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1159_img
{
	padding: 24px 137px;
}

#u1076
{
	position: absolute;
	width: 601px;
	top: 573px;
	left: 3px;
}

#u1076popup
{
	z-index: 77;
}

#u1085-5
{
	z-index: 78;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1088-5
{
	z-index: 83;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1077-5
{
	z-index: 88;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1079-5
{
	z-index: 93;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1081-5
{
	z-index: 98;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1090-5
{
	z-index: 103;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1083-5
{
	z-index: 108;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1091-5
{
	z-index: 113;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1092-5
{
	z-index: 118;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1093-5
{
	z-index: 123;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1080-5
{
	z-index: 128;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1086-5
{
	z-index: 133;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1078-5
{
	z-index: 138;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1089-5
{
	z-index: 143;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1082-5
{
	z-index: 148;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1084-5
{
	z-index: 153;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1087-5
{
	z-index: 158;
	width: 581px;
	min-height: 29px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1168-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 608px;
	left: 266px;
}

#u1168-4popup
{
	z-index: 163;
}

#u1167-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 608px;
	left: 235px;
}

#u1167-4popup
{
	z-index: 167;
}

#u1129-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 607px;
	left: 335px;
}

#u1129-4popup
{
	z-index: 171;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u1188-18
{
	z-index: 175;
	width: 603px;
	min-height: 171px;
	margin-left: 12px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1068-17
{
	z-index: 2;
	width: 604px;
	margin-top: 1px;
}

#page .verticalspacer
{
	clear: both;
}

