#u1070-10
{
	line-height: 19px;
	position: relative;
}

#u1070-3
{
	font-size: 1px;
	line-height: 0px;
}

#u1586_img
{
	vertical-align: bottom;
}

#u1068-17
{
	line-height: 12px;
	position: relative;
}

