#u1380,#u1071-6
{
	position: relative;
}

#u1071-2
{
	line-height: 19px;
}

#u1071-4
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	font-style: italic;
}

#u1069-17
{
	line-height: 11px;
	position: relative;
}

